/* Background color for the top bar */
/* Height and margin */
/* Control Input height for top bar */
/* Controlling the styles for the title in the top bar */
/* Style the top bar dropdown elements */
/* Set the link colors and styles for top-level nav */
/* Top menu icon styles */
/* Transitions and breakpoint styles */
/* Divider Styles */
/* Sticky Class */
/* START: override foundation classes */
.row {
  max-width: 60em; }

.column, .columns {
  padding-left: 1.125em;
  padding-right: 1.125em; }

.top-bar-section .has-dropdown > a:after {
  border: none; }

.top-bar-section .has-dropdown > a {
  padding: 0.65em 1em 0.5em !important; }

.top-bar .toggle-topbar.menu-icon a {
  width: auto; }

.top-bar-section ul.right li .dropdown {
  width: 100%; }

@media only screen and (min-width: 58.75em) {
  .nav-holder .large-12,
  .nav-holder .columns,
  .nav-holder .top-bar,
  .nav-holder .top-bar-section,
  .top-bar-section .has-dropdown {
    position: static; } }
.top-bar-section .dropdown li label {
  padding: 8px 15px 2px;
  margin-bottom: 0;
  color: white;
  font-family: "PMN Caecilia", serif;
  text-transform: none;
  font-weight: normal;
  font-size: 1.625em;
  background-color: transparent; }

.top-bar .toggle-topbar.menu-icon a span {
  -webkit-box-shadow: 0 10px 0 1px #434a52, 0 16px 0 1px #434a52, 0 22px 0 1px #434a52;
  box-shadow: 0 10px 0 1px #434a52, 0 16px 0 1px #434a52, 0 22px 0 1px #434a52;
  color: #434a52; }

.top-bar.expanded .title-area {
  background-color: white; }

.f-dropdown {
  min-width: 250px;
  border: 3px solid #e0e0e0;
  border-radius: 5px;
  z-index: 200;
  height: auto !important; }

.f-dropdown:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 15px;
  border-color: transparent transparent white transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -29px;
  left: 190px;
  z-index: 199; }

.f-dropdown:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 17px;
  border-color: transparent transparent #e0e0e0 transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -35px;
  left: 188px;
  z-index: 198; }

/* END: override foundation classes */
/*START: Debug msg */
.msg {
  position: fixed;
  z-index: 300;
  background-color: #333333;
  color: white;
  border: 1px solid orange;
  width: 300px;
  height: auto; }

#start-stop-msg {
  top: 10px;
  left: 10px; }

#scroll-msg {
  top: 10px;
  left: 310px; }

#direction-msg {
  top: 10px;
  left: 610px; }

/*END: Debug msg */
.global-header {
  background-color: #22252a;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 200; }
  .global-header .NSWlogo {
    float: left;
    width: 124px;
    height: 50px;
    text-align: right; }
  .global-header .rightside {
    position: relative;
    float: right;
    height: 50px;
    display: block;
    text-align: right; }
    .global-header .rightside .profile {
      position: relative;
      width: auto;
      z-index: 500; }
    .global-header .rightside .f-dropdown {
      text-align: left; }
      .global-header .rightside .f-dropdown li {
        position: relative;
        display: inline-block;
        width: 100%;
        height: auto;
        padding: 10px 10px 10px 30px;
        border-bottom: 1px solid #e0e0e0;
        font-size: 0.9em;
        color: #424b54;
        cursor: default;
        line-height: 1em; }
        .global-header .rightside .f-dropdown li:hover {
          background-color: inherit; }
      .global-header .rightside .f-dropdown .title {
        color: #212429;
        padding: 10px; }
      .global-header .rightside .f-dropdown a {
        display: inline;
        margin: 0;
        padding: 0;
        font-size: 0.9em;
        color: #212429; }
      .global-header .rightside .f-dropdown .underline {
        text-decoration: underline; }
      .global-header .rightside .f-dropdown span.time {
        float: left;
        color: #9c9fa4;
        padding: 0;
        margin: 0;
        font-style: italic;
        display: inline;
        font-size: 0.8em;
        line-height: 1.8em; }
      .global-header .rightside .f-dropdown li.read {
        background-color: white; }
        .global-header .rightside .f-dropdown li.read:before {
          content: "";
          position: absolute;
          top: 14px;
          left: 7px;
          width: 12px;
          height: 12px;
          z-index: 0;
          background-image: url(img/icon-sprite.png);
          background-position: 0px -12px; }
      .global-header .rightside .f-dropdown li.unread {
        background-color: #eeeff1; }
        .global-header .rightside .f-dropdown li.unread:before {
          content: "";
          position: absolute;
          top: 14px;
          left: 7px;
          width: 12px;
          height: 12px;
          z-index: 0;
          background-image: url(img/icon-sprite.png);
          background-position: 0px 0px; }
      .global-header .rightside .f-dropdown li.see-all {
        border-bottom: none;
        text-align: center;
        padding: 10px; }
        .global-header .rightside .f-dropdown li.see-all a {
          color: #60cdb0; }
      .global-header .rightside .f-dropdown li.my-profile:before {
        content: "";
        position: absolute;
        top: 9px;
        left: 10px;
        width: 16px;
        height: 16px;
        z-index: 0;
        background-image: url(img/icon-sprite.png);
        background-position: -14px 0px; }
      .global-header .rightside .f-dropdown li.my-profile .badge {
        top: 8px;
        left: 220px;
        height: 20px;
        padding: 2px 4px; }
      .global-header .rightside .f-dropdown li.drop-logout {
        display: none;
        font-style: normal;
        text-decoration: none; }
        .global-header .rightside .f-dropdown li.drop-logout:before {
          content: "";
          position: absolute;
          top: 9px;
          left: 10px;
          width: 16px;
          height: 16px;
          z-index: 0;
          background-image: url(img/icon-sprite.png);
          background-position: -14px -18px; }
    .global-header .rightside .notification {
      position: relative;
      background-color: #8a9096;
      background-image: url(img/icon-notification.png);
      background-repeat: no-repeat;
      background-position: center 3px;
      z-index: 500; }
    .global-header .rightside .name {
      padding-top: 18px; }
    .global-header .rightside a, .global-header .rightside span {
      display: inline-block;
      height: auto;
      text-align: center;
      font-size: 0.8em;
      position: relative; }
    .global-header .rightside span {
      color: white;
      padding: 0 10px; }
    .global-header .rightside .logout {
      color: #929292;
      text-decoration: underline;
      padding-top: 0px;
      padding-left: 10px;
      font-style: italic;
      vertical-align: middle;
      top: -10px; }
    .global-header .rightside .circle {
      width: 30px;
      height: 30px;
      border: 1px solid transparent;
      border-radius: 16px;
      margin: 10px 0 0 10px; }
    .global-header .rightside .badge {
      background-color: #e04e5b;
      padding: 1px;
      border: 1px solid transparent;
      border-radius: 2px;
      position: absolute;
      top: -5px;
      left: 20px;
      display: block;
      color: white;
      height: 15px;
      width: auto;
      min-width: 15px;
      display: block;
      z-index: 100; }

.banner-holder {
  position: relative;
  top: 50px;
  width: 100%;
  height: 94px;
  background-color: white; }
  .banner-holder .row {
    width: 100%; }
    .banner-holder .row .large-12 {
      width: 100%;
      text-align: center;
      height: 94px;
      position: relative;
      display: table-cell; }
      .banner-holder .row .large-12 h1 {
        vertical-align: middle;
        height: 34px;
        width: 277px;
        margin: 30px auto;
        padding: 0;
        background: url(img/logo.png) no-repeat; }
        .banner-holder .row .large-12 h1 a {
          height: 34px;
          width: 277px;
          text-indent: -10000px;
          display: block; }

.nav-holder {
  position: relative;
  top: 50px;
  width: 100%;
  height: auto;
  background-color: white;
  border-top: 1px solid #e0e0e2; }
  .nav-holder .row {
    height: auto;
    min-height: 70px; }
    .nav-holder .row nav.top-bar {
      background-color: transparent;
      margin: 0; }
      .nav-holder .row nav.top-bar section {
        height: auto; }
        .nav-holder .row nav.top-bar section ul.top-level {
          width: 100%;
          height: auto;
          background-color: white; }
          .nav-holder .row nav.top-bar section ul.top-level li {
            height: 70px;
            background-color: white;
            width: 18.73%;
            padding: 0;
            border-style: solid;
            border-color: #e0e0e2;
            border-width: 0 1px 0 0;
            text-align: center; }
            .nav-holder .row nav.top-bar section ul.top-level li a {
              height: 70px;
              color: #434a52;
              text-align: center; }
            .nav-holder .row nav.top-bar section ul.top-level li:hover a {
              color: white; }
          .nav-holder .row nav.top-bar section ul.top-level li.search {
            width: 4.762%;
            border-width: 0; }
            .nav-holder .row nav.top-bar section ul.top-level li.search a {
              text-indent: -10000px;
              background: url(img/icon-search.png) no-repeat center center; }
          @media only screen and (min-width: 58.75em) {
            .nav-holder .row nav.top-bar section ul.top-level .has-dropdown:hover ul {
              display: block; }
            .nav-holder .row nav.top-bar section ul.top-level .has-dropdown ul {
              display: none; } }
          .nav-holder .row nav.top-bar section ul.top-level #use-it:hover {
            border-bottom: 3px solid #994275;
            background-color: #994275; }
            .nav-holder .row nav.top-bar section ul.top-level #use-it:hover .dropdown {
              background-color: #994275; }
              .nav-holder .row nav.top-bar section ul.top-level #use-it:hover .dropdown li {
                background-color: inherit; }
          .nav-holder .row nav.top-bar section ul.top-level #fix-it:hover {
            border-bottom: 3px solid #f8af50;
            background-color: #f8af50; }
            .nav-holder .row nav.top-bar section ul.top-level #fix-it:hover .dropdown {
              background-color: #f8af50; }
              .nav-holder .row nav.top-bar section ul.top-level #fix-it:hover .dropdown li {
                background-color: inherit; }
          .nav-holder .row nav.top-bar section ul.top-level #explore-it:hover {
            border-bottom: 3px solid #e35d68;
            background-color: #e35d68; }
            .nav-holder .row nav.top-bar section ul.top-level #explore-it:hover .dropdown {
              background-color: #e35d68; }
              .nav-holder .row nav.top-bar section ul.top-level #explore-it:hover .dropdown li {
                background-color: inherit; }
          .nav-holder .row nav.top-bar section ul.top-level #share-it:hover {
            border-bottom: 3px solid #1a7bc0;
            background-color: #1a7bc0; }
            .nav-holder .row nav.top-bar section ul.top-level #share-it:hover .dropdown {
              background-color: #1a7bc0; }
              .nav-holder .row nav.top-bar section ul.top-level #share-it:hover .dropdown li {
                background-color: inherit; }
          .nav-holder .row nav.top-bar section ul.top-level #about-it:hover {
            border-bottom: 3px solid #6dd2b4;
            background-color: #6dd2b4; }
            .nav-holder .row nav.top-bar section ul.top-level #about-it:hover .dropdown {
              background-color: #6dd2b4; }
              .nav-holder .row nav.top-bar section ul.top-level #about-it:hover .dropdown li {
                background-color: inherit; }
          .nav-holder .row nav.top-bar section ul.top-level a {
            background-color: transparent;
            font-size: 1em;
            font-weight: normal;
            padding: 0.65em 1em 0.5em !important; }
          .nav-holder .row nav.top-bar section ul.top-level li ul {
            height: auto; }
            .nav-holder .row nav.top-bar section ul.top-level li ul ul {
              height: auto !important;
              width: 100%;
              margin: 0 auto;
              max-width: 60em;
              float: none;
              clear: both;
              background-color: transparent; }
              .nav-holder .row nav.top-bar section ul.top-level li ul ul li {
                background-color: transparent;
                float: left;
                height: auto;
                width: auto;
                border: none;
                text-align: center; }
                .nav-holder .row nav.top-bar section ul.top-level li ul ul li a {
                  padding: 2em 3em !important;
                  text-transform: none;
                  height: auto; }
                  .nav-holder .row nav.top-bar section ul.top-level li ul ul li a:hover {
                    background-color: rgba(255, 255, 255, 0.2); }
            .nav-holder .row nav.top-bar section ul.top-level li ul .label-holder {
              height: auto;
              margin: 0 auto;
              min-width: 60em;
              float: none;
              clear: both;
              border: none; }
              .nav-holder .row nav.top-bar section ul.top-level li ul .label-holder label {
                display: block;
                padding: 30px 0 0 0; }
                .nav-holder .row nav.top-bar section ul.top-level li ul .label-holder label hr {
                  margin: 30px 0 0 0;
                  padding: 0;
                  background-color: white;
                  opacity: 0.2;
                  border: none;
                  height: 1px; }

#nav-holder.respond {
  position: fixed;
  z-index: 100;
  top: -10px; }

@media only screen and (min-width: 768px) {
  .global-header .NSWlogo {
    width: 50px;
    background-color: blue; }

  .nav-holder .row {
    min-height: 50px; }
    .nav-holder .row .columns {
      padding: 0; }
      .nav-holder .row .columns .title-area .name {
        padding-left: 0.95em; }
      .nav-holder .row .columns section ul.top-level {
        outline: 1px solid red; }
        .nav-holder .row .columns section ul.top-level li {
          height: 50px; } }
@media only screen and (max-width: 768px) {
  .global-header .NSWlogo {
    width: 50px;
    background-color: white; }
  .global-header .rightside a.logout {
    display: none !important; }
  .global-header .f-dropdown li.drop-logout {
    display: inline-block !important; }

  .nav-holder .row {
    min-height: 50px; }
    .nav-holder .row nav.top-bar section ul.top-level li {
      height: 50px; } }
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .global-header .NSWlogo {
    width: 20px;
    background-color: red; } }
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .global-header .NSWlogo {
    width: 20px;
    background-color: lime; } }
