$header-bg: #22252a
$circle-bg: #555e67

$banner-height: 94px



$use-it-nav-bg: #994275
$fix-it-nav-bg: #f8af50
$explore-it-nav-bg: #e35d68
$share-it-nav-bg: #1a7bc0
$about-it-nav-bg: #6dd2b4

$serif-font-family: 'Fjord One', serif


/* Background color for the top bar */
$topbar-bg: #fff

/* Height and margin */
$topbar-height: 70px
$topbar-list-item-height: 70px

/* Control Input height for top bar */
$topbar-input-height: 2.45em

/* Controlling the styles for the title in the top bar */
$topbar-title-weight: bold
$topbar-title-font-size: 1.5em


$topbar-nav-border-color: #e0e0e2

/* Style the top bar dropdown elements */
$topbar-dropdown-bg: #222
$topbar-dropdown-link-color: #fff

/* Set the link colors and styles for top-level nav */
$topbar-link-color: #434a52
$topbar-link-color-hover: #fff
$topbar-link-color-active: #fff
$topbar-link-weight: normal
$topbar-link-font-size: 1em
$topbar-link-bg-hover: #565e69
$topbar-link-padding: 0.65em 1em 0.5em!important
$topbar-link-second-level-padding: 2em 3em!important
$topbar-link-second-level-first-child-padding: 2em 3em 2em 1em!important

$topbar-dropdown-label-color: #555
$topbar-dropdown-label-text-transform: uppercase
$topbar-dropdown-label-font-weight: bold
$topbar-dropdown-label-font-size: emCalc(10)

/* Top menu icon styles */
$topbar-menu-link-transform: uppercase
$topbar-menu-link-font-size: emCalc(13)
$topbar-menu-link-weight: bold
$topbar-menu-link-color: #fff
$topbar-menu-icon-color: #fff
$topbar-menu-link-color-toggled: #888
$topbar-menu-icon-color-toggled: #888

/* Transitions and breakpoint styles */
$topbar-transition-speed: 300ms
$topbar-breakpoint: emCalc(940) /* Change to 9999px for always mobile layout */
$topbar-media-query: "only screen and (min-width:"#{$topbar-breakpoint}")"

/* Divider Styles */
$topbar-divider-border-bottom: solid 1px lighten($topbar-bg, 10%)
$topbar-divider-border-top: solid 1px darken($topbar-bg, 10%)

/* Sticky Class */
$topbar-sticky-class: ".sticky"








/* START: override foundation classes */

.row
  max-width: 60em

.column, .columns
  padding-left: 1.125em
  padding-right: 1.125em

.top-bar-section .has-dropdown > a:after
  border: none

.top-bar-section .has-dropdown > a
  padding: $topbar-link-padding

.top-bar .toggle-topbar.menu-icon a
  width: auto

.top-bar-section ul.right li .dropdown
  width: 100%

@media only screen and (min-width: 58.75em)
  .nav-holder .large-12,
  .nav-holder .columns,
  .nav-holder .top-bar,
  .nav-holder .top-bar-section,
  .top-bar-section .has-dropdown
    position: static


.top-bar-section .dropdown li label
  padding: 8px 15px 2px
  margin-bottom: 0
  color: #fff
  font-family: $serif-font-family
  text-transform: none
  font-weight: normal
  font-size: 1.625em
  background-color: transparent


.top-bar .toggle-topbar.menu-icon a span
  -webkit-box-shadow: 0 10px 0 1px $topbar-link-color, 0 16px 0 1px $topbar-link-color, 0 22px 0 1px $topbar-link-color
  box-shadow: 0 10px 0 1px $topbar-link-color, 0 16px 0 1px $topbar-link-color, 0 22px 0 1px $topbar-link-color
  color: $topbar-link-color

.top-bar.expanded .title-area
  background-color: #fff


/*Orbit Classes*/

.orbit-bullets
  position: absolute
  top: 352px
  left: 420px

.orbit-bullets li
  background: #fff
  border: 2px solid #fff
  opacity: 0.2
  margin-right: 12px

.orbit-bullets li.active
  opacity: 1
  background: #fff

/* END: override foundation classes */

.global-header
  background-color: $header-bg
  height: 50px
  width: 100%
  position: fixed
  z-index: 99
  .NSWlogo
    float: left
    width: 124px
    height: 50px

  .right
    height: 50px
    width: auto
    .profile
      width: auto
    a, span
      display: table-cell
      vertical-align: middle
      height: inherit
      text-align: center
      font-size: 0.8em
    span
      color: #fff
      padding: 0 10px
    .logout
      color: #929292
      text-decoration: underline
      font-style: italic
    .circle
      width: 30px
      height: 30px
      border: 1px solid transparent
      border-radius: 16px
      margin: 0 0 0 10px
      display: block
    .grey
      background-color: $circle-bg

.banner-holder
  position: relative
  top: 50px
  width: 100%
  height: $banner-height
  background-color: #fff
  .row
    width: 100%
    .large-12
      width: 100%
      text-align: center
      height: $banner-height
      position: relative
      display: table-cell
      h1
        vertical-align: middle
        height: 34px
        width: 277px
        margin: 30px auto
        padding: 0
        background: url(img/logo.png) no-repeat
        a
          height: 34px
          width: 277px
          text-indent: -10000px
          display: block

.nav-holder
  position: relative
  top: 50px
  width: 100%
  height: auto
  background-color: $topbar-bg
  border-top: 1px solid $topbar-nav-border-color
  .row
    height: auto
    min-height: $topbar-height
    nav.top-bar
      background-color: transparent
      margin: 0

      section
        height: auto
        ul.top-level
          width: 100%
          height: auto
          background-color: $topbar-bg
          li
            height: $topbar-height
            background-color: $topbar-bg
            width: 18.73%
            padding: 0
            border-style: solid
            border-color: $topbar-nav-border-color
            border-width: 0 1px 0 0
            text-align: center
            a
              height: $topbar-height
              color: $topbar-link-color
              text-align: center
            &:hover
              a
                color: #fff
          li.search
            width: 4.762%
            border-width: 0
            a
              text-indent: -10000px
              background: url(img/icon-search.png) no-repeat center center
          @media only screen and (min-width: 58.75em)
            .has-dropdown
              &:hover
                ul
                  display: block
              ul
                display: none

          #use-it
            &:hover
              border-bottom: 3px solid $use-it-nav-bg
              background-color: $use-it-nav-bg
              .dropdown
                background-color: $use-it-nav-bg
                li
                  background-color: inherit
          #fix-it
            &:hover
              border-bottom: 3px solid $fix-it-nav-bg
              background-color: $fix-it-nav-bg
              .dropdown
                background-color: $fix-it-nav-bg
                li
                  background-color: inherit
          #explore-it
            &:hover
              border-bottom: 3px solid $explore-it-nav-bg
              background-color: $explore-it-nav-bg
              .dropdown
                background-color: $explore-it-nav-bg
                li
                  background-color: inherit
          #share-it
            &:hover
              border-bottom: 3px solid $share-it-nav-bg
              background-color: $share-it-nav-bg
              .dropdown
                background-color: $share-it-nav-bg
                li
                  background-color: inherit
          #about-it
            &:hover
              border-bottom: 3px solid $about-it-nav-bg
              background-color: $about-it-nav-bg
              .dropdown
                background-color: $about-it-nav-bg
                li
                  background-color: inherit

          a
            background-color: transparent
            font-size: $topbar-link-font-size
            font-weight: $topbar-link-weight
            padding: $topbar-link-padding
          li
            ul
              height: auto
              ul
                height: auto!important
                width: 100%
                margin: 0 auto
                max-width: 60em
                float: none
                clear: both
                background-color: transparent
                li
                  background-color: transparent
                  float: left
                  height: auto
                  width: auto
                  border: none
                  text-align: center

                  a
                    padding: $topbar-link-second-level-padding
                    text-transform: none
                    height: auto
                    &:hover
                      background-color: rgba(255,255,255, 0.2)

              .label-holder
                height: auto
                margin: 0 auto
                min-width: 60em
                float: none
                clear: both
                border: none
                label
                  display: block
                  padding: 30px 0 0 0
                  hr
                    margin: 30px 0 0 0
                    padding: 0
                    background-color: #fff
                    opacity: 0.2
                    border: none
                    height: 1px

.slider-holder
  width: 100%
  position: relative
  top: 50px
  background-color: #60cdae
  height: 385px




@media only screen and (min-width: 768px)
  .nav-holder
    .row
      .columns
        padding: 0
        .title-area
          .name
            padding-left: 0.95em