$header-bg: #22252a
$downy-green: #60cdae


/* START: override foundation classes */

.row
  max-width: 60em

.column, .columns
  padding-left: 1.125em
  padding-right: 1.125em

.large-1
  height: 1200px
  outline: 1px solid red



/* END: override foundation classes */

.global-header
  background-color: $header-bg
  height: 50px
  width: auto
  .logo
    float: left
    width: 124px
    height: 50px

  .right
    height: 50px
    width: auto
  a
    display: table-cell
    vertical-align: middle
    width: 30px
    height: inherit
    text-align: center
  .circle
    width: 30px
    height: 30px
    border: 1px solid transparent
    border-radius: 16px



.banner-holder
  height: 9.063em
  background-color: $downy-green
  border-bottom: 1px solid #82e6ca

.nav-holder
  width: 100%
  height: auto
  background-color: $downy-green
  nav.top-bar
    background-color: transparent
    margin: 0
    ul.title-area
      width: 100%
      height: auto
      padding: 0
      margin: 0
      list-style-type: none
      li
        display: list-item
        a
          color: #fff
          font-size: 1.5em
          display: block











